# Final Project: Understanding Hired Rides in NYC - Group 12

## Project Setup

In [24]:
# all import statements needed for the project

import math
from math import tan
import geopandas
from geopandas import GeoSeries,GeoDataFrame

import re
import bs4
import requests
import urllib3
import pandas as pd
import matplotlib.pyplot as plt
from keplergl import KeplerGl
import sqlalchemy as db

In [25]:
# any general notebook setup, like log formatting

In [26]:
# any constants you might need, for example:

TAXI_URL = "https://www1.nyc.gov/site/tlc/about/tlc-trip-record-data.page"
# add other constants to refer to any local data, e.g. uber & weather
UBER_CSV = "uber_rides_sample.csv"

NEW_YORK_BOX_COORDS = ((40.560445, -74.242330), (40.908524, -73.717047))

DATABASE_URL = "sqlite:///project.db"
DATABASE_SCHEMA_FILE = "schema.sql"
QUERY_DIRECTORY = "queries"

## Part 1: Data Preprocessing

### Calculate Distance
- 1. Define a function that calculates the distance between two coordinates in kilometers that only uses the math module from the standard library
- 2. Use calculate_distance function to add distance column to each Uber and Yellow Taxi dataset

In [27]:
import math
from math import pi
EARTH_RADIUS = 6378.137
def rad(d):
    return d * pi / 180.0

def calculate_distance(from_coord, to_coord):
    lat1 = from_coord[0]
    lng1 = from_coord[1]
    lat2 = to_coord[0]
    lng2 = to_coord[1]
    radLat1 = rad(lat1)
    radLat2 = rad(lat2)
    a = radLat1 - radLat2
    b = rad(lng1) - rad(lng2)
    s = 2 * math.asin(
        math.sqrt(math.pow(math.sin(a / 2), 2) + math.cos(radLat1) * math.cos(radLat2) * math.pow(math.sin(b / 2), 2)))
    s = s * EARTH_RADIUS
    return s

In [28]:
def add_distance_column(dataframe):
    distance_list = []
    for i in range(dataframe.shape[0]):
        from_coord  = (dataframe["pickup_latitude"][i], dataframe["pickup_longitude"][i])
        to_coord  = (dataframe["dropoff_latitude"][i], dataframe["dropoff_longitude"][i])
        distance_list.append(calculate_distance(from_coord, to_coord))
    dataframe["cal_distance"] = distance_list

### Convert ID into Coordinates
- 1. Get coordinates using the “center” of the zones (polygons) 
- 2. Convert ID into coordinates

In [29]:
import geopandas
from geopandas import GeoSeries,GeoDataFrame

def get_lat_lon_from_loc():
    gdf = geopandas.read_file("taxi_zones.shp")
    gdf = gdf.to_crs(4326)
    lon = gdf.centroid.x
    lat = gdf.centroid.y
    gdf["lon"] = lon
    gdf["lat"] = lat
    return gdf

In [30]:
def convert_id_into_lat_lon(all_sample_tables):
    gdf = get_lat_lon_from_loc()
    start_lon = []
    start_lat = []
    end_lon = []
    end_lat = []
    id_list = list(gdf["LocationID"])
    for i in range(all_sample_tables.shape[0]):
        if 'PULocationID' in all_sample_tables.columns:
            start_point = all_sample_tables["PULocationID"][i]
            end_point = all_sample_tables["DOLocationID"][i]
            if start_point in id_list:
                index_location = gdf[ gdf["LocationID"]==start_point ].index.values[0]
                start_lon.append( float( gdf["lon"][index_location] ) )
                start_lat.append( float( gdf["lat"][index_location] ) )
            else:
                start_lon.append(None)
                start_lat.append(None)
            if end_point in id_list:
                index_location = gdf[ gdf["LocationID"]==end_point ].index.values[0]
                end_lon.append( float( gdf["lon"][index_location] ) )
                end_lat.append( float( gdf["lat"][index_location] ) ) 
            else:
                end_lon.append(None)
                end_lat.append(None)
        else:
            start_lon.append(None)
            start_lat.append(None)
            end_lon.append(None)
            end_lat.append(None)
            
    all_sample_tables["pickup_longitude"] = start_lon
    all_sample_tables["pickup_latitude"] = start_lat
    all_sample_tables["dropoff_longitude"] = end_lon
    all_sample_tables["dropoff_latitude"] = end_lat

### Processing Taxi Data

- 1. Find the desired links of yellow taxi data
- 2. Get and clean month taxi data (sample)
- 3. Remove useless columns
- 4. Process NAN value
- 5. Convert ID into coordinate
- 6. Convert date taxi data into YEAR, MONTH, DAY, HOUR and WEEK
- 7. Get distance column of taxi data
- 8. Generate taxi data (one gigantic dataframe)

In [31]:
def process_datetime(all_sample_tables): # for part3 and part4 convenience; normalizing column names
    if "tpep_pickup_datetime" in all_sample_tables.columns:
        all_sample_tables['tpep_pickup_datetime'] = pd.to_datetime(all_sample_tables['tpep_pickup_datetime'])
        all_sample_tables['YEAR'] = all_sample_tables['tpep_pickup_datetime'].dt.year.astype(int)
        all_sample_tables['MONTH'] = all_sample_tables['tpep_pickup_datetime'].dt.month.astype(int)
        all_sample_tables['DAY'] = all_sample_tables['tpep_pickup_datetime'].dt.day.astype(int)
        all_sample_tables['HOUR'] = all_sample_tables['tpep_pickup_datetime'].dt.hour.astype(int)
        all_sample_tables["WEEK"] = all_sample_tables['tpep_pickup_datetime'].dt.dayofweek+1 # 0-6 to 1-7
    else:
        all_sample_tables['tpep_pickup_datetime'] = None
        all_sample_tables['YEAR'] = None
        all_sample_tables['MONTH'] = None
        all_sample_tables['DAY'] = None
        all_sample_tables['HOUR'] = None
        all_sample_tables["WEEK"] = None

In [32]:
from bs4 import BeautifulSoup as bs
import re

def find_taxi_parquet_urls():
    parquet_urls = []
    res = requests.get(url=TAXI_URL)
    soup = bs(res.text)
    for i, link in enumerate(soup.findAll('a')): 
        new_url = link.get('href')
        data_pattern = r'yellow_tripdata_201[012345]|2009'
        if re.search(data_pattern, new_url):
            if not re.search(r'2015\-0[789]|2015\-1[012]', new_url):
                parquet_urls.append(new_url)     
    return parquet_urls

In [33]:
find_taxi_parquet_urls()

['https://d37ci6vzurychx.cloudfront.net/trip-data/yellow_tripdata_2015-01.parquet',
 'https://d37ci6vzurychx.cloudfront.net/trip-data/yellow_tripdata_2015-02.parquet',
 'https://d37ci6vzurychx.cloudfront.net/trip-data/yellow_tripdata_2015-03.parquet',
 'https://d37ci6vzurychx.cloudfront.net/trip-data/yellow_tripdata_2015-04.parquet',
 'https://d37ci6vzurychx.cloudfront.net/trip-data/yellow_tripdata_2015-05.parquet',
 'https://d37ci6vzurychx.cloudfront.net/trip-data/yellow_tripdata_2015-06.parquet',
 'https://d37ci6vzurychx.cloudfront.net/trip-data/yellow_tripdata_2014-01.parquet',
 'https://d37ci6vzurychx.cloudfront.net/trip-data/yellow_tripdata_2014-02.parquet',
 'https://d37ci6vzurychx.cloudfront.net/trip-data/yellow_tripdata_2014-03.parquet',
 'https://d37ci6vzurychx.cloudfront.net/trip-data/yellow_tripdata_2014-04.parquet',
 'https://d37ci6vzurychx.cloudfront.net/trip-data/yellow_tripdata_2014-05.parquet',
 'https://d37ci6vzurychx.cloudfront.net/trip-data/yellow_tripdata_2014-06.parquet',
 'https://d37ci6vzurychx.cloudfront.net/trip-data/yellow_tripdata_2014-07.parquet',
 'https://d37ci6vzurychx.cloudfront.net/trip-data/yellow_tripdata_2014-08.parquet',
 'https://d37ci6vzurychx.cloudfront.net/trip-data/yellow_tripdata_2014-09.parquet',
 'https://d37ci6vzurychx.cloudfront.net/trip-data/yellow_tripdata_2014-10.parquet',
 'https://d37ci6vzurychx.cloudfront.net/trip-data/yellow_tripdata_2014-11.parquet',
 'https://d37ci6vzurychx.cloudfront.net/trip-data/yellow_tripdata_2014-12.parquet',
 'https://d37ci6vzurychx.cloudfront.net/trip-data/yellow_tripdata_2013-01.parquet',
 'https://d37ci6vzurychx.cloudfront.net/trip-data/yellow_tripdata_2013-02.parquet',
 'https://d37ci6vzurychx.cloudfront.net/trip-data/yellow_tripdata_2013-03.parquet',
 'https://d37ci6vzurychx.cloudfront.net/trip-data/yellow_tripdata_2013-04.parquet',
 'https://d37ci6vzurychx.cloudfront.net/trip-data/yellow_tripdata_2013-05.parquet',
 'https://d37ci6vzurychx.cloudfront.net/trip-data/yellow_tripdata_2013-06.parquet',
 'https://d37ci6vzurychx.cloudfront.net/trip-data/yellow_tripdata_2013-07.parquet',
 'https://d37ci6vzurychx.cloudfront.net/trip-data/yellow_tripdata_2013-08.parquet',
 'https://d37ci6vzurychx.cloudfront.net/trip-data/yellow_tripdata_2013-09.parquet',
 'https://d37ci6vzurychx.cloudfront.net/trip-data/yellow_tripdata_2013-10.parquet',
 'https://d37ci6vzurychx.cloudfront.net/trip-data/yellow_tripdata_2013-11.parquet',
 'https://d37ci6vzurychx.cloudfront.net/trip-data/yellow_tripdata_2013-12.parquet',
 'https://d37ci6vzurychx.cloudfront.net/trip-data/yellow_tripdata_2012-01.parquet',
 'https://d37ci6vzurychx.cloudfront.net/trip-data/yellow_tripdata_2012-02.parquet',
 'https://d37ci6vzurychx.cloudfront.net/trip-data/yellow_tripdata_2012-03.parquet',
 'https://d37ci6vzurychx.cloudfront.net/trip-data/yellow_tripdata_2012-04.parquet',
 'https://d37ci6vzurychx.cloudfront.net/trip-data/yellow_tripdata_2012-05.parquet',
 'https://d37ci6vzurychx.cloudfront.net/trip-data/yellow_tripdata_2012-06.parquet',
 'https://d37ci6vzurychx.cloudfront.net/trip-data/yellow_tripdata_2012-07.parquet',
 'https://d37ci6vzurychx.cloudfront.net/trip-data/yellow_tripdata_2012-08.parquet',
 'https://d37ci6vzurychx.cloudfront.net/trip-data/yellow_tripdata_2012-09.parquet',
 'https://d37ci6vzurychx.cloudfront.net/trip-data/yellow_tripdata_2012-10.parquet',
 'https://d37ci6vzurychx.cloudfront.net/trip-data/yellow_tripdata_2012-11.parquet',
 'https://d37ci6vzurychx.cloudfront.net/trip-data/yellow_tripdata_2012-12.parquet',
 'https://d37ci6vzurychx.cloudfront.net/trip-data/yellow_tripdata_2011-01.parquet',
 'https://d37ci6vzurychx.cloudfront.net/trip-data/yellow_tripdata_2011-02.parquet',
 'https://d37ci6vzurychx.cloudfront.net/trip-data/yellow_tripdata_2011-03.parquet',
 'https://d37ci6vzurychx.cloudfront.net/trip-data/yellow_tripdata_2011-04.parquet',
 'https://d37ci6vzurychx.cloudfront.net/trip-data/yellow_tripdata_2011-05.parquet',
 'https://d37ci6vzurychx.cloudfront.net/trip-data/yellow_tripdata_2011-06.parquet',
 'https://d37ci6vzurychx.cloudfront.net/trip-data/yellow_tripdata_2011-07.parquet',
 'https://d37ci6vzurychx.cloudfront.net/trip-data/yellow_tripdata_2011-08.parquet',
 'https://d37ci6vzurychx.cloudfront.net/trip-data/yellow_tripdata_2011-09.parquet',
 'https://d37ci6vzurychx.cloudfront.net/trip-data/yellow_tripdata_2011-10.parquet',
 'https://d37ci6vzurychx.cloudfront.net/trip-data/yellow_tripdata_2011-11.parquet',
 'https://d37ci6vzurychx.cloudfront.net/trip-data/yellow_tripdata_2011-12.parquet',
 'https://d37ci6vzurychx.cloudfront.net/trip-data/yellow_tripdata_2010-01.parquet',
 'https://d37ci6vzurychx.cloudfront.net/trip-data/yellow_tripdata_2010-02.parquet',
 'https://d37ci6vzurychx.cloudfront.net/trip-data/yellow_tripdata_2010-03.parquet',
 'https://d37ci6vzurychx.cloudfront.net/trip-data/yellow_tripdata_2010-04.parquet',
 'https://d37ci6vzurychx.cloudfront.net/trip-data/yellow_tripdata_2010-05.parquet',
 'https://d37ci6vzurychx.cloudfront.net/trip-data/yellow_tripdata_2010-06.parquet',
 'https://d37ci6vzurychx.cloudfront.net/trip-data/yellow_tripdata_2010-07.parquet',
 'https://d37ci6vzurychx.cloudfront.net/trip-data/yellow_tripdata_2010-08.parquet',
 'https://d37ci6vzurychx.cloudfront.net/trip-data/yellow_tripdata_2010-09.parquet',
 'https://d37ci6vzurychx.cloudfront.net/trip-data/yellow_tripdata_2010-10.parquet',
 'https://d37ci6vzurychx.cloudfront.net/trip-data/yellow_tripdata_2010-11.parquet',
 'https://d37ci6vzurychx.cloudfront.net/trip-data/yellow_tripdata_2010-12.parquet',
 'https://d37ci6vzurychx.cloudfront.net/trip-data/yellow_tripdata_2009-01.parquet',
 'https://d37ci6vzurychx.cloudfront.net/trip-data/yellow_tripdata_2009-02.parquet',
 'https://d37ci6vzurychx.cloudfront.net/trip-data/yellow_tripdata_2009-03.parquet',
 'https://d37ci6vzurychx.cloudfront.net/trip-data/yellow_tripdata_2009-04.parquet',
 'https://d37ci6vzurychx.cloudfront.net/trip-data/yellow_tripdata_2009-05.parquet',
 'https://d37ci6vzurychx.cloudfront.net/trip-data/yellow_tripdata_2009-06.parquet',
 'https://d37ci6vzurychx.cloudfront.net/trip-data/yellow_tripdata_2009-07.parquet',
 'https://d37ci6vzurychx.cloudfront.net/trip-data/yellow_tripdata_2009-08.parquet',
 'https://d37ci6vzurychx.cloudfront.net/trip-data/yellow_tripdata_2009-09.parquet',
 'https://d37ci6vzurychx.cloudfront.net/trip-data/yellow_tripdata_2009-10.parquet',
 'https://d37ci6vzurychx.cloudfront.net/trip-data/yellow_tripdata_2009-11.parquet',
 'https://d37ci6vzurychx.cloudfront.net/trip-data/yellow_tripdata_2009-12.parquet']

In [34]:
import urllib3
import pandas as pd

def get_and_clean_month_taxi_data(url):
    import os
    http = urllib3.PoolManager()
    response = http.request('GET', url)
    file_name = url.split("/")[-1]
    
    # if exists, no need to download
    if not os.path.exists(file_name):
        with open(file_name, 'wb') as f: 
            f.write(response.data)
    response.release_conn()
    pd_data = pd.read_parquet(file_name)
    # for testing, we sample panda data
    print("pd_data.shape : ", pd_data.shape)
    
    # sample 2564 for each month since 200,000/78 = 2564
    # make it roughly equal to the sample size of the uber dataset
    pd_data = pd_data.sample(2564)
    pd_data = pd_data.reset_index()
    print(pd_data.head()) 
    
    # remove useless columns
#    if "2010" not in file_name:
#        pd_data = pd_data.drop(["index", "VendorID", "passenger_count", "RatecodeID", "store_and_fwd_flag",\
#                                    "payment_type", "fare_amount", "mta_tax", "extra", "tolls_amount", \
#                                    "improvement_surcharge", "total_amount", "congestion_surcharge", "airport_fee"], axis=1) 
#    else:
#        pd_data = pd_data.drop(["index", "passenger_count", "store_and_fwd_flag",\
#                                    "payment_type", "fare_amount", "mta_tax", "tolls_amount", \
#                                     "total_amount"], axis=1)

    print("sample data, pd_data.shape: ", pd_data.shape)

    # process NAN value
    print(pd_data.isnull().sum())
    pd_data.fillna(axis=0, method="ffill")
    
    if "congestion_surcharge" in pd_data.columns:
        pd_data = pd_data.drop(["congestion_surcharge"], axis=1)
    if "airport_fee" in pd_data.columns:
        pd_data = pd_data.drop(["airport_fee"], axis=1)             
    
    convert_id_into_lat_lon(pd_data)
    process_datetime(pd_data)

    pd_data = pd_data.reset_index()    
    return pd_data

In [35]:
def get_and_clean_taxi_data():
    all_taxi_dataframes = []
    
    all_parquet_urls = find_taxi_parquet_urls()
    i = 0
    for parquet_url in all_parquet_urls:
        if i > 3:
            break
        # maybe: first try to see if you've downloaded this exact
        # file already and saved it before trying again
        dataframe = get_and_clean_month_taxi_data(parquet_url)
        add_distance_column(dataframe)
        # maybe: if the file hasn't been saved, save it so you can
        # avoid re-downloading it if you re-run the function
        
        all_taxi_dataframes.append(dataframe)
        i += 1
        
    # create one gigantic dataframe with data from every month needed
    taxi_data = pd.concat(all_taxi_dataframes)
    print(taxi_data.isnull().sum())
    print(taxi_data.shape)
    return taxi_data

### Processing Uber Data

- 1. Load and clean uber data
- 2. Convert date uber data into YEAR, MONTH, DAY, HOUR and WEEK
- 3. Get distance column of uber data
- 4. Remove useless columns
- 5. Process NAN value
- 6. Genereate uber data

In [36]:
def load_and_clean_uber_data(csv_file):
    pd_data = pd.read_csv(csv_file, index_col=0)
    pd_data['pickup_datetime'] = pd.to_datetime(pd_data['pickup_datetime'])
    pd_data['YEAR'] = pd_data['pickup_datetime'].dt.year.astype(int)
    pd_data['MONTH'] = pd_data['pickup_datetime'].dt.month.astype(int)
    pd_data['DAY'] = pd_data['pickup_datetime'].dt.day.astype(int)
    pd_data['HOUR'] = pd_data['pickup_datetime'].dt.hour.astype(int)
    pd_data["WEEK"] = pd_data['pickup_datetime'].dt.dayofweek+1    
    return pd_data.reset_index()

In [37]:
def get_uber_data():
    uber_dataframe = load_and_clean_uber_data(UBER_CSV)
    add_distance_column(uber_dataframe)
    # remove useless columns 
    uber_dataframe = uber_dataframe.drop(["index", "key", "fare_amount", "passenger_count"], axis=1)
    # process NAN value
    uber_dataframe = uber_dataframe.dropna(axis=0, how='any')
    return uber_dataframe

In [38]:
uber_data = get_uber_data()

In [39]:
uber_data.isnull().sum()

pickup_datetime      0
pickup_longitude     0
pickup_latitude      0
dropoff_longitude    0
dropoff_latitude     0
YEAR                 0
MONTH                0
DAY                  0
HOUR                 0
WEEK                 0
cal_distance         0
dtype: int64

### Processing Weather Data

- 1. Load and clean hourly and daily weather data
- 2. Convert date weather data into YEAR, MONTH, DAY, HOUR and WEEK
- 3. Remove useless columns
- 4. Process NAN value
- 5. Generate hourly and daily weather data

In [40]:
def clean_month_weather_data_hourly(csv_file):
    pd_data = pd.read_csv(csv_file)
    pd_data['DATE'] = pd.to_datetime(pd_data['DATE'])
    pd_data['YEAR'] = pd_data['DATE'].dt.year.astype(int)
    pd_data['MONTH'] = pd_data['DATE'].dt.month.astype(int)
    pd_data['DAY'] = pd_data['DATE'].dt.day.astype(int)
    pd_data['HOUR'] = pd_data['DATE'].dt.hour.astype(int)    
    pd_data["WEEK"] = pd_data['DATE'].dt.dayofweek+1  
    hour_weather = []
    hour_weather_column = list(pd_data.columns)
    
    date_str = ""
    for i in range(pd_data.shape[0]):
        tmp_date_str = str(pd_data.iloc[i,:]["YEAR"]) + str(pd_data.iloc[i,:]["MONTH"]) + str(pd_data.iloc[i,:]["DAY"]) +  str(pd_data.iloc[i,:]["HOUR"])
        if tmp_date_str == date_str:
            continue
        else:
            hour_weather.append(pd_data.iloc[i,:].to_list())
            date_str = tmp_date_str   
    
    final_pd = pd.DataFrame(hour_weather, columns=hour_weather_column)
    
    print("weather data : ", final_pd.head())
    
    # remove useless columns
    final_pd = final_pd.drop(["STATION", "ELEVATION", "NAME", "REPORT_TYPE", "SOURCE"], axis=1)
    # process NAN value
    final_pd = final_pd.fillna(0)   
    final_pd = final_pd.fillna(axis=0, method="ffill")  
    final_pd = final_pd.reset_index()   
    # final_pd = final_pd.dropna(axis=1, how='any')
    # final_pd = final_pd.dropna(axis=0, how='any')
    return final_pd

In [41]:
def clean_month_weather_data_daily(csv_file):
    pd_data = pd.read_csv(csv_file)
    pd_data['DATE'] = pd.to_datetime(pd_data['DATE'])
    pd_data['YEAR'] = pd_data['DATE'].dt.year.astype(int)
    pd_data['MONTH'] = pd_data['DATE'].dt.month.astype(int)
    pd_data['DAY'] = pd_data['DATE'].dt.day.astype(int)
    pd_data["WEEK"] = pd_data['DATE'].dt.dayofweek+1  
    date_str = ""
    day_weather = []
    day_weather_column = list(pd_data.columns)
#     day_weather_column.remove('HOUR')
    for i in range(pd_data.shape[0]):
        tmp_date_str = str(pd_data.iloc[i,:]["YEAR"]) + str(pd_data.iloc[i,:]["MONTH"]) + str(pd_data.iloc[i,:]["DAY"])
        if tmp_date_str == date_str:
            continue
        else:
            day_weather.append(pd_data.iloc[i,:].to_list())
            date_str = tmp_date_str 
            
    final_pd = pd.DataFrame(day_weather, columns=day_weather_column)  
    
    # remove useless columns
    final_pd = final_pd.drop(["STATION", "ELEVATION", "NAME", "REPORT_TYPE", "SOURCE"], axis=1)
    # process NAN value
    final_pd = final_pd.fillna(0)     
    final_pd = final_pd.fillna(axis=0, method="ffill") 
    final_pd = final_pd.reset_index()     
    # final_pd = final_pd.dropna(axis=1, how='any')
    # final_pd = final_pd.dropna(axis=0, how='any')
    return final_pd

In [42]:
def load_and_clean_weather_data():
    hourly_dataframes = []
    daily_dataframes = []
    
    # add some way to find all weather CSV files
    # or just add the name/paths manually
    weather_csv_files = ["2009_weather.csv", "2010_weather.csv", "2011_weather.csv", "2012_weather.csv",
                        "2013_weather.csv", "2014_weather.csv", "2015_weather.csv"]
    
    for csv_file in weather_csv_files:
        hourly_dataframe = clean_month_weather_data_hourly(csv_file)
        daily_dataframe = clean_month_weather_data_daily(csv_file)
        hourly_dataframes.append(hourly_dataframe)
        daily_dataframes.append(daily_dataframe)
        
    # create two dataframes with hourly & daily data from every month
    hourly_data = pd.concat(hourly_dataframes)
    daily_data = pd.concat(daily_dataframes)
    return hourly_data, daily_data

### Processing All Data

- 1. Process taxi data, uber data, and weather data
- 2. Post-Process all data

In [43]:
taxi_data = get_and_clean_taxi_data()
uber_data = get_uber_data()
hourly_weather_data, daily_weather_data = load_and_clean_weather_data()

pd_data.shape :  (12741035, 19)
      index  VendorID tpep_pickup_datetime tpep_dropoff_datetime  \
0  11589109         1  2015-01-29 18:59:06   2015-01-29 19:05:18
1   3063175         2  2015-01-08 22:59:42   2015-01-08 23:04:00
2   1904687         2  2015-01-06 08:41:30   2015-01-06 09:05:51
3   8983070         1  2015-01-22 14:44:21   2015-01-22 14:54:12
4   5969886         1  2015-01-15 14:53:41   2015-01-15 15:02:40

   passenger_count  trip_distance  RatecodeID store_and_fwd_flag  \
0                1           0.90           1                  N
1                1           1.04           1                  N
2                5           1.41           1                  N
3                1           1.10           1                  N
4                1           1.60           1                  N

   PULocationID  DOLocationID  payment_type  fare_amount  extra  mta_tax  \
0           262           236             1          6.0    1.0      0.5
1           255           256             1          5.5    0.5      0.5
2           237            50             1         15.0    0.0      0.5
3            68           164             2          7.5    0.0      0.5
4           263           142             2          8.5    0.0      0.5

   tip_amount  tolls_amount  improvement_surcharge  total_amount  \
0        1.95           0.0                    0.3          9.75
1        0.00           0.0                    0.3          6.80
2        1.00           0.0                    0.3         16.80
3        0.00           0.0                    0.3          8.30
4        0.00           0.0                    0.3          9.30

  congestion_surcharge airport_fee
0                 None        None
1                 None        None
2                 None        None
3                 None        None
4                 None        None
sample data, pd_data.shape:  (2564, 20)
index                       0
VendorID                    0
tpep_pickup_datetime        0
tpep_dropoff_datetime       0
passenger_count             0
trip_distance               0
RatecodeID                  0
store_and_fwd_flag          0
PULocationID                0
DOLocationID                0
payment_type                0
fare_amount                 0
extra                       0
mta_tax                     0
tip_amount                  0
tolls_amount                0
improvement_surcharge       0
total_amount                0
congestion_surcharge     2564
airport_fee              2564
dtype: int64

/var/folders/zd/gdqmgyw56pnfmplfzw2m2sx80000gn/T/ipykernel_65380/219217041.py:7: UserWarning: Geometry is in a geographic CRS. Results from 'centroid' are likely incorrect. Use 'GeoSeries.to_crs()' to re-project geometries to a projected CRS before this operation.

  lon = gdf.centroid.x
/var/folders/zd/gdqmgyw56pnfmplfzw2m2sx80000gn/T/ipykernel_65380/219217041.py:8: UserWarning: Geometry is in a geographic CRS. Results from 'centroid' are likely incorrect. Use 'GeoSeries.to_crs()' to re-project geometries to a projected CRS before this operation.

  lat = gdf.centroid.y

pd_data.shape :  (12442394, 19)
      index  VendorID tpep_pickup_datetime tpep_dropoff_datetime  \
0   9289781         2  2015-02-22 01:15:07   2015-02-22 01:25:27
1  10774457         1  2015-02-25 15:33:14   2015-02-25 15:52:12
2   3766936         2  2015-02-09 21:13:11   2015-02-09 21:26:31
3   2134190         2  2015-02-06 07:26:23   2015-02-06 07:40:21
4   1192544         2  2015-02-04 01:12:50   2015-02-04 01:26:10

   passenger_count  trip_distance  RatecodeID store_and_fwd_flag  \
0                1           2.32           1                  N
1                1           2.00           1                  N
2                6           2.63           1                  N
3                1           1.57           1                  N
4                6           3.69           1                  N

   PULocationID  DOLocationID  payment_type  fare_amount  extra  mta_tax  \
0            48           234             1          9.5    0.5      0.5
1           137           229             1         11.5    0.0      0.5
2           249           170             1         11.5    0.5      0.5
3           239           236             1         10.5    0.0      0.5
4           161           148             1         13.0    0.5      0.5

   tip_amount  tolls_amount  improvement_surcharge  total_amount  \
0        2.16           0.0                    0.3         12.96
1        3.00           0.0                    0.3         15.30
2        0.00           0.0                    0.3         12.80
3        2.26           0.0                    0.3         13.56
4        4.29           0.0                    0.3         18.59

  congestion_surcharge airport_fee
0                 None        None
1                 None        None
2                 None        None
3                 None        None
4                 None        None
sample data, pd_data.shape:  (2564, 20)
index                       0
VendorID                    0
tpep_pickup_datetime        0
tpep_dropoff_datetime       0
passenger_count             0
trip_distance               0
RatecodeID                  0
store_and_fwd_flag          0
PULocationID                0
DOLocationID                0
payment_type                0
fare_amount                 0
extra                       0
mta_tax                     0
tip_amount                  0
tolls_amount                0
improvement_surcharge       0
total_amount                0
congestion_surcharge     2564
airport_fee              2564
dtype: int64

/var/folders/zd/gdqmgyw56pnfmplfzw2m2sx80000gn/T/ipykernel_65380/219217041.py:7: UserWarning: Geometry is in a geographic CRS. Results from 'centroid' are likely incorrect. Use 'GeoSeries.to_crs()' to re-project geometries to a projected CRS before this operation.

  lon = gdf.centroid.x
/var/folders/zd/gdqmgyw56pnfmplfzw2m2sx80000gn/T/ipykernel_65380/219217041.py:8: UserWarning: Geometry is in a geographic CRS. Results from 'centroid' are likely incorrect. Use 'GeoSeries.to_crs()' to re-project geometries to a projected CRS before this operation.

  lat = gdf.centroid.y

pd_data.shape :  (13342951, 19)
      index  VendorID tpep_pickup_datetime tpep_dropoff_datetime  \
0   7440739         1  2015-03-18 14:38:08   2015-03-18 14:40:19
1   7394584         1  2015-03-18 12:14:52   2015-03-18 12:21:42
2   4895968         1  2015-03-12 19:40:46   2015-03-12 20:09:30
3  10039495         2  2015-03-24 13:41:37   2015-03-24 14:05:19
4  10075597         1  2015-03-24 15:52:39   2015-03-24 15:59:05

   passenger_count  trip_distance  RatecodeID store_and_fwd_flag  \
0                1           0.30           1                  N
1                1           0.80           1                  N
2                1           5.10           1                  N
3                1           2.86           1                  N
4                1           0.90           1                  N

   PULocationID  DOLocationID  payment_type  fare_amount  extra  mta_tax  \
0           236           236             2          3.5    0.0      0.5
1           186           161             1          6.0    0.0      0.5
2           234            97             1         22.0    1.0      0.5
3            90           237             1         16.0    0.0      0.5
4           162           229             1          6.0    0.0      0.5

   tip_amount  tolls_amount  improvement_surcharge  total_amount  \
0        0.00           0.0                    0.3          4.30
1        1.35           0.0                    0.3          8.15
2        3.00           0.0                    0.3         26.80
3        1.00           0.0                    0.3         17.80
4        0.00           0.0                    0.3          6.80

  congestion_surcharge airport_fee
0                 None        None
1                 None        None
2                 None        None
3                 None        None
4                 None        None
sample data, pd_data.shape:  (2564, 20)
index                       0
VendorID                    0
tpep_pickup_datetime        0
tpep_dropoff_datetime       0
passenger_count             0
trip_distance               0
RatecodeID                  0
store_and_fwd_flag          0
PULocationID                0
DOLocationID                0
payment_type                0
fare_amount                 0
extra                       0
mta_tax                     0
tip_amount                  0
tolls_amount                0
improvement_surcharge       0
total_amount                0
congestion_surcharge     2564
airport_fee              2564
dtype: int64

/var/folders/zd/gdqmgyw56pnfmplfzw2m2sx80000gn/T/ipykernel_65380/219217041.py:7: UserWarning: Geometry is in a geographic CRS. Results from 'centroid' are likely incorrect. Use 'GeoSeries.to_crs()' to re-project geometries to a projected CRS before this operation.

  lon = gdf.centroid.x
/var/folders/zd/gdqmgyw56pnfmplfzw2m2sx80000gn/T/ipykernel_65380/219217041.py:8: UserWarning: Geometry is in a geographic CRS. Results from 'centroid' are likely incorrect. Use 'GeoSeries.to_crs()' to re-project geometries to a projected CRS before this operation.

  lat = gdf.centroid.y

pd_data.shape :  (13063758, 19)
      index  VendorID tpep_pickup_datetime tpep_dropoff_datetime  \
0  11669478         1  2015-04-27 19:08:27   2015-04-27 19:15:57
1   7519259         1  2015-04-18 12:36:26   2015-04-18 12:46:05
2   4289636         1  2015-04-10 23:13:08   2015-04-10 23:31:05
3   4798511         2  2015-04-12 00:25:03   2015-04-12 00:37:12
4  12999994         1  2015-04-30 21:24:26   2015-04-30 21:33:24

   passenger_count  trip_distance  RatecodeID store_and_fwd_flag  \
0                2           1.30           1                  N
1                1           2.40           1                  N
2                1           1.90           1                  N
3                2           2.35           1                  N
4                1           2.10           1                  N

   PULocationID  DOLocationID  payment_type  fare_amount  extra  mta_tax  \
0           137            90             2          7.0    1.0      0.5
1            13           246             2         10.0    0.0      0.5
2            68            43             1         13.0    0.5      0.5
3           142           236             2         11.0    0.5      0.5
4           161           113             1          9.0    0.5      0.5

   tip_amount  tolls_amount  improvement_surcharge  total_amount  \
0        0.00           0.0                    0.3          8.80
1        0.00           0.0                    0.3         10.80
2        2.85           0.0                    0.3         17.15
3        0.00           0.0                    0.3         12.30
4        2.05           0.0                    0.3         12.35

  congestion_surcharge airport_fee
0                 None        None
1                 None        None
2                 None        None
3                 None        None
4                 None        None
sample data, pd_data.shape:  (2564, 20)
index                       0
VendorID                    0
tpep_pickup_datetime        0
tpep_dropoff_datetime       0
passenger_count             0
trip_distance               0
RatecodeID                  0
store_and_fwd_flag          0
PULocationID                0
DOLocationID                0
payment_type                0
fare_amount                 0
extra                       0
mta_tax                     0
tip_amount                  0
tolls_amount                0
improvement_surcharge       0
total_amount                0
congestion_surcharge     2564
airport_fee              2564
dtype: int64

/var/folders/zd/gdqmgyw56pnfmplfzw2m2sx80000gn/T/ipykernel_65380/219217041.py:7: UserWarning: Geometry is in a geographic CRS. Results from 'centroid' are likely incorrect. Use 'GeoSeries.to_crs()' to re-project geometries to a projected CRS before this operation.

  lon = gdf.centroid.x
/var/folders/zd/gdqmgyw56pnfmplfzw2m2sx80000gn/T/ipykernel_65380/219217041.py:8: UserWarning: Geometry is in a geographic CRS. Results from 'centroid' are likely incorrect. Use 'GeoSeries.to_crs()' to re-project geometries to a projected CRS before this operation.

  lat = gdf.centroid.y

level_0                    0
index                      0
VendorID                   0
tpep_pickup_datetime       0
tpep_dropoff_datetime      0
passenger_count            0
trip_distance              0
RatecodeID                 0
store_and_fwd_flag         0
PULocationID               0
DOLocationID               0
payment_type               0
fare_amount                0
extra                      0
mta_tax                    0
tip_amount                 0
tolls_amount               0
improvement_surcharge      0
total_amount               0
pickup_longitude         179
pickup_latitude          179
dropoff_longitude        210
dropoff_latitude         210
YEAR                       0
MONTH                      0
DAY                        0
HOUR                       0
WEEK                       0
cal_distance             226
dtype: int64
(10256, 29)

/var/folders/zd/gdqmgyw56pnfmplfzw2m2sx80000gn/T/ipykernel_65380/3016219600.py:11: DtypeWarning: Columns (9,13) have mixed types.Specify dtype option on import or set low_memory=False.
  hourly_dataframe = clean_month_weather_data_hourly(csv_file)

weather data :         STATION                DATE  LATITUDE  LONGITUDE  ELEVATION  \
0  72505394728 2009-01-01 00:51:00  40.77898  -73.96925       42.7
1  72505394728 2009-01-01 01:51:00  40.77898  -73.96925       42.7
2  72505394728 2009-01-01 02:51:00  40.77898  -73.96925       42.7
3  72505394728 2009-01-01 03:51:00  40.77898  -73.96925       42.7
4  72505394728 2009-01-01 04:51:00  40.77898  -73.96925       42.7

                          NAME REPORT_TYPE SOURCE HourlyAltimeterSetting  \
0  NY CITY CENTRAL PARK, NY US       AUTO       4                  30.01
1  NY CITY CENTRAL PARK, NY US       AUTO       4                  30.03
2  NY CITY CENTRAL PARK, NY US       AUTO       4                  30.07
3  NY CITY CENTRAL PARK, NY US       AUTO       4                  30.09
4  NY CITY CENTRAL PARK, NY US       AUTO       4                  30.12

  HourlyDewPointTemperature  ...  BackupEquipment BackupLatitude  \
0                       3.0  ...        SNOWBOARD            NaN
1                       3.0  ...        SNOWBOARD            NaN
2                       3.0  ...        SNOWBOARD            NaN
3                       3.0  ...        SNOWBOARD            NaN
4                       3.0  ...        SNOWBOARD            NaN

  BackupLongitude        BackupName  WindEquipmentChangeDate  YEAR  MONTH DAY  \
0             NaN  CENTRAL PARK ZOO                2006/9/18  2009      1   1
1             NaN  CENTRAL PARK ZOO                2006/9/18  2009      1   1
2             NaN  CENTRAL PARK ZOO                2006/9/18  2009      1   1
3             NaN  CENTRAL PARK ZOO                2006/9/18  2009      1   1
4             NaN  CENTRAL PARK ZOO                2006/9/18  2009      1   1

   HOUR  WEEK
0     0     4
1     1     4
2     2     4
3     3     4
4     4     4

[5 rows x 128 columns]

/var/folders/zd/gdqmgyw56pnfmplfzw2m2sx80000gn/T/ipykernel_65380/3016219600.py:12: DtypeWarning: Columns (9,13) have mixed types.Specify dtype option on import or set low_memory=False.
  daily_dataframe = clean_month_weather_data_daily(csv_file)
/var/folders/zd/gdqmgyw56pnfmplfzw2m2sx80000gn/T/ipykernel_65380/3016219600.py:11: DtypeWarning: Columns (8,9,10,17) have mixed types.Specify dtype option on import or set low_memory=False.
  hourly_dataframe = clean_month_weather_data_hourly(csv_file)

weather data :         STATION                DATE  LATITUDE  LONGITUDE  ELEVATION  \
0  72505394728 2010-01-01 00:30:00  40.77898  -73.96925       42.7
1  72505394728 2010-01-01 01:09:00  40.77898  -73.96925       42.7
2  72505394728 2010-01-01 02:51:00  40.77898  -73.96925       42.7
3  72505394728 2010-01-01 03:00:00  40.77898  -73.96925       42.7
4  72505394728 2010-01-01 04:51:00  40.77898  -73.96925       42.7

                          NAME REPORT_TYPE SOURCE HourlyAltimeterSetting  \
0  NY CITY CENTRAL PARK, NY US       FM-16      4                  30.01
1  NY CITY CENTRAL PARK, NY US       FM-16      4                  29.99
2  NY CITY CENTRAL PARK, NY US       AUTO       4                  29.99
3  NY CITY CENTRAL PARK, NY US       FM-15      4                  29.99
4  NY CITY CENTRAL PARK, NY US       AUTO       4                  29.97

  HourlyDewPointTemperature  ... BackupEquipment BackupLatitude  \
0                        32  ...       SNOWBOARD            NaN
1                        32  ...       SNOWBOARD            NaN
2                        34  ...       SNOWBOARD            NaN
3                        34  ...       SNOWBOARD            NaN
4                        34  ...       SNOWBOARD            NaN

  BackupLongitude        BackupName  WindEquipmentChangeDate  YEAR MONTH DAY  \
0             NaN  CENTRAL PARK ZOO               2006-09-18  2010     1   1
1             NaN  CENTRAL PARK ZOO               2006-09-18  2010     1   1
2             NaN  CENTRAL PARK ZOO               2006-09-18  2010     1   1
3             NaN  CENTRAL PARK ZOO               2006-09-18  2010     1   1
4             NaN  CENTRAL PARK ZOO               2006-09-18  2010     1   1

   HOUR  WEEK
0     0     5
1     1     5
2     2     5
3     3     5
4     4     5

[5 rows x 128 columns]

/var/folders/zd/gdqmgyw56pnfmplfzw2m2sx80000gn/T/ipykernel_65380/3016219600.py:12: DtypeWarning: Columns (8,9,10,17) have mixed types.Specify dtype option on import or set low_memory=False.
  daily_dataframe = clean_month_weather_data_daily(csv_file)
/var/folders/zd/gdqmgyw56pnfmplfzw2m2sx80000gn/T/ipykernel_65380/3016219600.py:11: DtypeWarning: Columns (10) have mixed types.Specify dtype option on import or set low_memory=False.
  hourly_dataframe = clean_month_weather_data_hourly(csv_file)

weather data :         STATION                DATE  LATITUDE  LONGITUDE  ELEVATION  \
0  72505394728 2011-01-01 00:51:00  40.77898  -73.96925       42.7
1  72505394728 2011-01-01 01:51:00  40.77898  -73.96925       42.7
2  72505394728 2011-01-01 02:51:00  40.77898  -73.96925       42.7
3  72505394728 2011-01-01 03:51:00  40.77898  -73.96925       42.7
4  72505394728 2011-01-01 04:51:00  40.77898  -73.96925       42.7

                          NAME REPORT_TYPE SOURCE HourlyAltimeterSetting  \
0  NY CITY CENTRAL PARK, NY US       AUTO       4                  30.15
1  NY CITY CENTRAL PARK, NY US       AUTO       4                  30.14
2  NY CITY CENTRAL PARK, NY US       AUTO       4                  30.14
3  NY CITY CENTRAL PARK, NY US       AUTO       4                  30.14
4  NY CITY CENTRAL PARK, NY US       AUTO       4                  30.13

  HourlyDewPointTemperature  ... BackupEquipment BackupLatitude  \
0                        28  ...       SNOWBOARD            NaN
1                        28  ...       SNOWBOARD            NaN
2                        28  ...       SNOWBOARD            NaN
3                        30  ...       SNOWBOARD            NaN
4                        28  ...       SNOWBOARD            NaN

  BackupLongitude        BackupName  WindEquipmentChangeDate  YEAR MONTH DAY  \
0             NaN  CENTRAL PARK ZOO               2006-09-18  2011     1   1
1             NaN  CENTRAL PARK ZOO               2006-09-18  2011     1   1
2             NaN  CENTRAL PARK ZOO               2006-09-18  2011     1   1
3             NaN  CENTRAL PARK ZOO               2006-09-18  2011     1   1
4             NaN  CENTRAL PARK ZOO               2006-09-18  2011     1   1

   HOUR  WEEK
0     0     6
1     1     6
2     2     6
3     3     6
4     4     6

[5 rows x 128 columns]

/var/folders/zd/gdqmgyw56pnfmplfzw2m2sx80000gn/T/ipykernel_65380/3016219600.py:12: DtypeWarning: Columns (10) have mixed types.Specify dtype option on import or set low_memory=False.
  daily_dataframe = clean_month_weather_data_daily(csv_file)
/var/folders/zd/gdqmgyw56pnfmplfzw2m2sx80000gn/T/ipykernel_65380/3016219600.py:11: DtypeWarning: Columns (7,8,9,10,17,18,42,65) have mixed types.Specify dtype option on import or set low_memory=False.
  hourly_dataframe = clean_month_weather_data_hourly(csv_file)

weather data :         STATION                DATE  LATITUDE  LONGITUDE  ELEVATION  \
0  72505394728 2012-01-01 00:51:00  40.77898  -73.96925       42.7
1  72505394728 2012-01-01 01:51:00  40.77898  -73.96925       42.7
2  72505394728 2012-01-01 02:51:00  40.77898  -73.96925       42.7
3  72505394728 2012-01-01 03:51:00  40.77898  -73.96925       42.7
4  72505394728 2012-01-01 04:51:00  40.77898  -73.96925       42.7

                          NAME REPORT_TYPE SOURCE HourlyAltimeterSetting  \
0  NY CITY CENTRAL PARK, NY US       AUTO       4                  30.05
1  NY CITY CENTRAL PARK, NY US       AUTO       4                  30.07
2  NY CITY CENTRAL PARK, NY US       AUTO       4                  30.08
3  NY CITY CENTRAL PARK, NY US       AUTO       4                  30.06
4  NY CITY CENTRAL PARK, NY US       AUTO       4                  30.07

  HourlyDewPointTemperature  ... BackupEquipment BackupLatitude  \
0                        37  ...       SNOWBOARD            NaN
1                        37  ...       SNOWBOARD            NaN
2                        37  ...       SNOWBOARD            NaN
3                        37  ...       SNOWBOARD            NaN
4                        37  ...       SNOWBOARD            NaN

  BackupLongitude        BackupName  WindEquipmentChangeDate  YEAR MONTH DAY  \
0             NaN  CENTRAL PARK ZOO               2006-09-18  2012     1   1
1             NaN  CENTRAL PARK ZOO               2006-09-18  2012     1   1
2             NaN  CENTRAL PARK ZOO               2006-09-18  2012     1   1
3             NaN  CENTRAL PARK ZOO               2006-09-18  2012     1   1
4             NaN  CENTRAL PARK ZOO               2006-09-18  2012     1   1

  HOUR WEEK
0    0    7
1    1    7
2    2    7
3    3    7
4    4    7

[5 rows x 128 columns]

/var/folders/zd/gdqmgyw56pnfmplfzw2m2sx80000gn/T/ipykernel_65380/3016219600.py:12: DtypeWarning: Columns (7,8,9,10,17,18,42,65) have mixed types.Specify dtype option on import or set low_memory=False.
  daily_dataframe = clean_month_weather_data_daily(csv_file)
/var/folders/zd/gdqmgyw56pnfmplfzw2m2sx80000gn/T/ipykernel_65380/3016219600.py:11: DtypeWarning: Columns (17,78) have mixed types.Specify dtype option on import or set low_memory=False.
  hourly_dataframe = clean_month_weather_data_hourly(csv_file)

weather data :         STATION                DATE  LATITUDE  LONGITUDE  ELEVATION  \
0  72505394728 2013-01-01 00:51:00  40.77898  -73.96925       42.7
1  72505394728 2013-01-01 01:51:00  40.77898  -73.96925       42.7
2  72505394728 2013-01-01 02:51:00  40.77898  -73.96925       42.7
3  72505394728 2013-01-01 03:51:00  40.77898  -73.96925       42.7
4  72505394728 2013-01-01 04:51:00  40.77898  -73.96925       42.7

                          NAME REPORT_TYPE  SOURCE HourlyAltimeterSetting  \
0  NY CITY CENTRAL PARK, NY US       FM-15       7                  29.89
1  NY CITY CENTRAL PARK, NY US       FM-15       7                  29.90
2  NY CITY CENTRAL PARK, NY US       FM-15       7                  29.90
3  NY CITY CENTRAL PARK, NY US       FM-15       7                  29.91
4  NY CITY CENTRAL PARK, NY US       FM-15       7                  29.90

   HourlyDewPointTemperature  ...  BackupEquipment BackupLatitude  \
0                       24.0  ...        SNOWBOARD            NaN
1                       26.0  ...        SNOWBOARD            NaN
2                       27.0  ...        SNOWBOARD            NaN
3                       27.0  ...        SNOWBOARD            NaN
4                       27.0  ...        SNOWBOARD            NaN

  BackupLongitude        BackupName  WindEquipmentChangeDate  YEAR MONTH DAY  \
0             NaN  CENTRAL PARK ZOO               2006-09-18  2013     1   1
1             NaN  CENTRAL PARK ZOO               2006-09-18  2013     1   1
2             NaN  CENTRAL PARK ZOO               2006-09-18  2013     1   1
3             NaN  CENTRAL PARK ZOO               2006-09-18  2013     1   1
4             NaN  CENTRAL PARK ZOO               2006-09-18  2013     1   1

  HOUR WEEK
0    0    2
1    1    2
2    2    2
3    3    2
4    4    2

[5 rows x 128 columns]

/var/folders/zd/gdqmgyw56pnfmplfzw2m2sx80000gn/T/ipykernel_65380/3016219600.py:12: DtypeWarning: Columns (17,78) have mixed types.Specify dtype option on import or set low_memory=False.
  daily_dataframe = clean_month_weather_data_daily(csv_file)
/var/folders/zd/gdqmgyw56pnfmplfzw2m2sx80000gn/T/ipykernel_65380/3016219600.py:11: DtypeWarning: Columns (8,9,17,18,78) have mixed types.Specify dtype option on import or set low_memory=False.
  hourly_dataframe = clean_month_weather_data_hourly(csv_file)

weather data :         STATION                DATE  LATITUDE  LONGITUDE  ELEVATION  \
0  72505394728 2014-01-01 00:51:00  40.77898  -73.96925       42.7
1  72505394728 2014-01-01 01:51:00  40.77898  -73.96925       42.7
2  72505394728 2014-01-01 02:51:00  40.77898  -73.96925       42.7
3  72505394728 2014-01-01 03:51:00  40.77898  -73.96925       42.7
4  72505394728 2014-01-01 04:51:00  40.77898  -73.96925       42.7

                          NAME REPORT_TYPE  SOURCE HourlyAltimeterSetting  \
0  NY CITY CENTRAL PARK, NY US       FM-15       7                  30.30
1  NY CITY CENTRAL PARK, NY US       FM-15       7                  30.33
2  NY CITY CENTRAL PARK, NY US       FM-15       7                  30.35
3  NY CITY CENTRAL PARK, NY US       FM-15       7                  30.36
4  NY CITY CENTRAL PARK, NY US       FM-15       7                  30.37

  HourlyDewPointTemperature  ...  BackupEquipment BackupLatitude  \
0                         6  ...        SNOWBOARD            NaN
1                         5  ...        SNOWBOARD            NaN
2                         6  ...        SNOWBOARD            NaN
3                         6  ...        SNOWBOARD            NaN
4                         7  ...        SNOWBOARD            NaN

  BackupLongitude        BackupName  WindEquipmentChangeDate  YEAR MONTH DAY  \
0             NaN  CENTRAL PARK ZOO               2006-09-18  2014     1   1
1             NaN  CENTRAL PARK ZOO               2006-09-18  2014     1   1
2             NaN  CENTRAL PARK ZOO               2006-09-18  2014     1   1
3             NaN  CENTRAL PARK ZOO               2006-09-18  2014     1   1
4             NaN  CENTRAL PARK ZOO               2006-09-18  2014     1   1

  HOUR WEEK
0    0    3
1    1    3
2    2    3
3    3    3
4    4    3

[5 rows x 128 columns]

/var/folders/zd/gdqmgyw56pnfmplfzw2m2sx80000gn/T/ipykernel_65380/3016219600.py:12: DtypeWarning: Columns (8,9,17,18,78) have mixed types.Specify dtype option on import or set low_memory=False.
  daily_dataframe = clean_month_weather_data_daily(csv_file)
/var/folders/zd/gdqmgyw56pnfmplfzw2m2sx80000gn/T/ipykernel_65380/3016219600.py:11: DtypeWarning: Columns (10,41,78) have mixed types.Specify dtype option on import or set low_memory=False.
  hourly_dataframe = clean_month_weather_data_hourly(csv_file)

weather data :         STATION                DATE  LATITUDE  LONGITUDE  ELEVATION  \
0  72505394728 2015-01-01 00:51:00  40.77898  -73.96925       42.7
1  72505394728 2015-01-01 01:51:00  40.77898  -73.96925       42.7
2  72505394728 2015-01-01 02:51:00  40.77898  -73.96925       42.7
3  72505394728 2015-01-01 03:51:00  40.77898  -73.96925       42.7
4  72505394728 2015-01-01 04:51:00  40.77898  -73.96925       42.7

                          NAME REPORT_TYPE  SOURCE  HourlyAltimeterSetting  \
0  NY CITY CENTRAL PARK, NY US       FM-15       7                   30.16
1  NY CITY CENTRAL PARK, NY US       FM-15       7                   30.16
2  NY CITY CENTRAL PARK, NY US       FM-15       7                   30.16
3  NY CITY CENTRAL PARK, NY US       FM-15       7                   30.14
4  NY CITY CENTRAL PARK, NY US       FM-15       7                   30.15

   HourlyDewPointTemperature  ... BackupEquipment BackupLatitude  \
0                        8.0  ...       SNOWBOARD            NaN
1                       10.0  ...       SNOWBOARD            NaN
2                        9.0  ...       SNOWBOARD            NaN
3                        7.0  ...       SNOWBOARD            NaN
4                        6.0  ...       SNOWBOARD            NaN

  BackupLongitude        BackupName  WindEquipmentChangeDate  YEAR MONTH  DAY  \
0             NaN  CENTRAL PARK ZOO               2006-09-18  2015     1    1
1             NaN  CENTRAL PARK ZOO               2006-09-18  2015     1    1
2             NaN  CENTRAL PARK ZOO               2006-09-18  2015     1    1
3             NaN  CENTRAL PARK ZOO               2006-09-18  2015     1    1
4             NaN  CENTRAL PARK ZOO               2006-09-18  2015     1    1

   HOUR WEEK
0     0    4
1     1    4
2     2    4
3     3    4
4     4    4

[5 rows x 128 columns]

/var/folders/zd/gdqmgyw56pnfmplfzw2m2sx80000gn/T/ipykernel_65380/3016219600.py:12: DtypeWarning: Columns (10,41,78) have mixed types.Specify dtype option on import or set low_memory=False.
  daily_dataframe = clean_month_weather_data_daily(csv_file)

In [44]:
taxi_data.shape

(10256, 29)

In [45]:
print("taxi data: ", taxi_data.shape)
print(taxi_data.head())

print("uber_data: ", uber_data.shape)
print(uber_data.head())

print(" hourly weather: ", hourly_weather_data.shape)

print(hourly_weather_data.head())

print("daily weather: ", daily_weather_data.shape)
print(daily_weather_data.head())

taxi data:  (10256, 29)
   level_0     index  VendorID tpep_pickup_datetime tpep_dropoff_datetime  \
0        0  11589109         1  2015-01-29 18:59:06   2015-01-29 19:05:18
1        1   3063175         2  2015-01-08 22:59:42   2015-01-08 23:04:00
2        2   1904687         2  2015-01-06 08:41:30   2015-01-06 09:05:51
3        3   8983070         1  2015-01-22 14:44:21   2015-01-22 14:54:12
4        4   5969886         1  2015-01-15 14:53:41   2015-01-15 15:02:40

   passenger_count  trip_distance  RatecodeID store_and_fwd_flag  \
0                1           0.90           1                  N
1                1           1.04           1                  N
2                5           1.41           1                  N
3                1           1.10           1                  N
4                1           1.60           1                  N

   PULocationID  ...  pickup_longitude  pickup_latitude  dropoff_longitude  \
0           262  ...        -73.946510        40.775932         -73.957012
1           255  ...        -73.957418        40.718804         -73.959905
2           237  ...        -73.965635        40.768615         -73.995135
3            68  ...        -73.999917        40.748428         -73.985156
4           263  ...        -73.951010        40.778766         -73.981532

   dropoff_latitude  YEAR  MONTH  DAY  HOUR  WEEK  cal_distance
0         40.780436  2015      1   29    18     4      1.017352
1         40.710880  2015      1    8    22     4      0.906701
2         40.766238  2015      1    6     8     2      2.501233
3         40.748575  2015      1   22    14     4      1.244959
4         40.773633  2015      1   15    14     4      2.635661

[5 rows x 29 columns]
uber_data:  (199999, 11)
            pickup_datetime  pickup_longitude  pickup_latitude  \
0 2015-05-07 19:52:06+00:00        -73.999817        40.738354
1 2009-07-17 20:04:56+00:00        -73.994355        40.728225
2 2009-08-24 21:45:00+00:00        -74.005043        40.740770
3 2009-06-26 08:22:21+00:00        -73.976124        40.790844
4 2014-08-28 17:47:00+00:00        -73.925023        40.744085

   dropoff_longitude  dropoff_latitude  YEAR  MONTH  DAY  HOUR  WEEK  \
0         -73.999512         40.723217  2015      5    7    19     4
1         -73.994710         40.750325  2009      7   17    20     5
2         -73.962565         40.772647  2009      8   24    21     1
3         -73.965316         40.803349  2009      6   26     8     5
4         -73.973082         40.761247  2014      8   28    17     4

   cal_distance
0      1.685209
1      2.460343
2      5.042019
3      1.663545
4      4.480464
 hourly weather:  (60458, 124)
   index                DATE  LATITUDE  LONGITUDE HourlyAltimeterSetting  \
0      0 2009-01-01 00:51:00  40.77898  -73.96925                  30.01
1      1 2009-01-01 01:51:00  40.77898  -73.96925                  30.03
2      2 2009-01-01 02:51:00  40.77898  -73.96925                  30.07
3      3 2009-01-01 03:51:00  40.77898  -73.96925                  30.09
4      4 2009-01-01 04:51:00  40.77898  -73.96925                  30.12

  HourlyDewPointTemperature HourlyDryBulbTemperature HourlyPrecipitation  \
0                       3.0                     18.0                   0
1                       3.0                     18.0                   0
2                       3.0                     18.0                   0
3                       3.0                     18.0                   0
4                       3.0                     18.0                   0

  HourlyPresentWeatherType HourlyPressureChange  ...  BackupEquipment  \
0                        0                -0.04  ...        SNOWBOARD
1                        0                    0  ...        SNOWBOARD
2                        0                    0  ...        SNOWBOARD
3                        0                -0.07  ...        SNOWBOARD
4                        0                    0  ...        SNOWBOARD

   BackupLatitude BackupLongitude        BackupName WindEquipmentChangeDate  \
0             0.0             0.0  CENTRAL PARK ZOO               2006/9/18
1             0.0             0.0  CENTRAL PARK ZOO               2006/9/18
2             0.0             0.0  CENTRAL PARK ZOO               2006/9/18
3             0.0             0.0  CENTRAL PARK ZOO               2006/9/18
4             0.0             0.0  CENTRAL PARK ZOO               2006/9/18

   YEAR  MONTH DAY  HOUR  WEEK
0  2009      1   1     0     4
1  2009      1   1     1     4
2  2009      1   1     2     4
3  2009      1   1     3     4
4  2009      1   1     4     4

[5 rows x 124 columns]
daily weather:  (2551, 123)
   index                DATE  LATITUDE  LONGITUDE HourlyAltimeterSetting  \
0      0 2009-01-01 00:51:00  40.77898  -73.96925                  30.01
1      1 2009-01-02 00:51:00  40.77898  -73.96925                   30.2
2      2 2009-01-03 00:51:00  40.77898  -73.96925                  29.78
3      3 2009-01-04 00:51:00  40.77898  -73.96925                  30.07
4      4 2009-01-05 00:51:00  40.77898  -73.96925                  29.97

  HourlyDewPointTemperature HourlyDryBulbTemperature HourlyPrecipitation  \
0                       3.0                     18.0                   0
1                       1.0                     25.0                   0
2                      21.0                     32.0                   0
3                       9.0                     28.0                   0
4                      14.0                     39.0                   0

  HourlyPresentWeatherType HourlyPressureChange  ...  BackupElevation  \
0                        0                -0.04  ...              0.0
1                        0                 0.06  ...              0.0
2                        0                -0.02  ...              0.0
3                        0                    0  ...              0.0
4                        0                 0.06  ...              0.0

   BackupEquipment BackupLatitude BackupLongitude        BackupName  \
0        SNOWBOARD            0.0             0.0  CENTRAL PARK ZOO
1        SNOWBOARD            0.0             0.0  CENTRAL PARK ZOO
2        SNOWBOARD            0.0             0.0  CENTRAL PARK ZOO
3        SNOWBOARD            0.0             0.0  CENTRAL PARK ZOO
4        SNOWBOARD            0.0             0.0  CENTRAL PARK ZOO

  WindEquipmentChangeDate  YEAR MONTH  DAY  WEEK
0               2006/9/18  2009     1    1     4
1               2006/9/18  2009     1    2     5
2               2006/9/18  2009     1    3     6
3               2006/9/18  2009     1    4     7
4               2006/9/18  2009     1    5     1

[5 rows x 123 columns]

In [46]:
dict(taxi_data.isnull().sum())

{'level_0': 0,
 'index': 0,
 'VendorID': 0,
 'tpep_pickup_datetime': 0,
 'tpep_dropoff_datetime': 0,
 'passenger_count': 0,
 'trip_distance': 0,
 'RatecodeID': 0,
 'store_and_fwd_flag': 0,
 'PULocationID': 0,
 'DOLocationID': 0,
 'payment_type': 0,
 'fare_amount': 0,
 'extra': 0,
 'mta_tax': 0,
 'tip_amount': 0,
 'tolls_amount': 0,
 'improvement_surcharge': 0,
 'total_amount': 0,
 'pickup_longitude': 179,
 'pickup_latitude': 179,
 'dropoff_longitude': 210,
 'dropoff_latitude': 210,
 'YEAR': 0,
 'MONTH': 0,
 'DAY': 0,
 'HOUR': 0,
 'WEEK': 0,
 'cal_distance': 226}

In [47]:
taxi_data = taxi_data.fillna(axis=0, method="ffill")

In [48]:
taxi_data.isnull().sum()

level_0                  0
index                    0
VendorID                 0
tpep_pickup_datetime     0
tpep_dropoff_datetime    0
passenger_count          0
trip_distance            0
RatecodeID               0
store_and_fwd_flag       0
PULocationID             0
DOLocationID             0
payment_type             0
fare_amount              0
extra                    0
mta_tax                  0
tip_amount               0
tolls_amount             0
improvement_surcharge    0
total_amount             0
pickup_longitude         0
pickup_latitude          0
dropoff_longitude        0
dropoff_latitude         0
YEAR                     0
MONTH                    0
DAY                      0
HOUR                     0
WEEK                     0
cal_distance             0
dtype: int64

In [49]:
dict(hourly_weather_data.isnull().sum())

{'index': 0,
 'DATE': 0,
 'LATITUDE': 0,
 'LONGITUDE': 0,
 'HourlyAltimeterSetting': 0,
 'HourlyDewPointTemperature': 0,
 'HourlyDryBulbTemperature': 0,
 'HourlyPrecipitation': 0,
 'HourlyPresentWeatherType': 0,
 'HourlyPressureChange': 0,
 'HourlyPressureTendency': 0,
 'HourlyRelativeHumidity': 0,
 'HourlySkyConditions': 0,
 'HourlySeaLevelPressure': 0,
 'HourlyStationPressure': 0,
 'HourlyVisibility': 0,
 'HourlyWetBulbTemperature': 0,
 'HourlyWindDirection': 0,
 'HourlyWindGustSpeed': 0,
 'HourlyWindSpeed': 0,
 'Sunrise': 0,
 'Sunset': 0,
 'DailyAverageDewPointTemperature': 0,
 'DailyAverageDryBulbTemperature': 0,
 'DailyAverageRelativeHumidity': 0,
 'DailyAverageSeaLevelPressure': 0,
 'DailyAverageStationPressure': 0,
 'DailyAverageWetBulbTemperature': 0,
 'DailyAverageWindSpeed': 0,
 'DailyCoolingDegreeDays': 0,
 'DailyDepartureFromNormalAverageTemperature': 0,
 'DailyHeatingDegreeDays': 0,
 'DailyMaximumDryBulbTemperature': 0,
 'DailyMinimumDryBulbTemperature': 0,
 'DailyPeakWindDirection': 0,
 'DailyPeakWindSpeed': 0,
 'DailyPrecipitation': 0,
 'DailySnowDepth': 0,
 'DailySnowfall': 0,
 'DailySustainedWindDirection': 0,
 'DailySustainedWindSpeed': 0,
 'DailyWeather': 0,
 'MonthlyAverageRH': 0,
 'MonthlyDaysWithGT001Precip': 0,
 'MonthlyDaysWithGT010Precip': 0,
 'MonthlyDaysWithGT32Temp': 0,
 'MonthlyDaysWithGT90Temp': 0,
 'MonthlyDaysWithLT0Temp': 0,
 'MonthlyDaysWithLT32Temp': 0,
 'MonthlyDepartureFromNormalAverageTemperature': 0,
 'MonthlyDepartureFromNormalCoolingDegreeDays': 0,
 'MonthlyDepartureFromNormalHeatingDegreeDays': 0,
 'MonthlyDepartureFromNormalMaximumTemperature': 0,
 'MonthlyDepartureFromNormalMinimumTemperature': 0,
 'MonthlyDepartureFromNormalPrecipitation': 0,
 'MonthlyDewpointTemperature': 0,
 'MonthlyGreatestPrecip': 0,
 'MonthlyGreatestPrecipDate': 0,
 'MonthlyGreatestSnowDepth': 0,
 'MonthlyGreatestSnowDepthDate': 0,
 'MonthlyGreatestSnowfall': 0,
 'MonthlyGreatestSnowfallDate': 0,
 'MonthlyMaxSeaLevelPressureValue': 0,
 'MonthlyMaxSeaLevelPressureValueDate': 0,
 'MonthlyMaxSeaLevelPressureValueTime': 0,
 'MonthlyMaximumTemperature': 0,
 'MonthlyMeanTemperature': 0,
 'MonthlyMinSeaLevelPressureValue': 0,
 'MonthlyMinSeaLevelPressureValueDate': 0,
 'MonthlyMinSeaLevelPressureValueTime': 0,
 'MonthlyMinimumTemperature': 0,
 'MonthlySeaLevelPressure': 0,
 'MonthlyStationPressure': 0,
 'MonthlyTotalLiquidPrecipitation': 0,
 'MonthlyTotalSnowfall': 0,
 'MonthlyWetBulb': 0,
 'AWND': 0,
 'CDSD': 0,
 'CLDD': 0,
 'DSNW': 0,
 'HDSD': 0,
 'HTDD': 0,
 'NormalsCoolingDegreeDay': 0,
 'NormalsHeatingDegreeDay': 0,
 'ShortDurationEndDate005': 0,
 'ShortDurationEndDate010': 0,
 'ShortDurationEndDate015': 0,
 'ShortDurationEndDate020': 0,
 'ShortDurationEndDate030': 0,
 'ShortDurationEndDate045': 0,
 'ShortDurationEndDate060': 0,
 'ShortDurationEndDate080': 0,
 'ShortDurationEndDate100': 0,
 'ShortDurationEndDate120': 0,
 'ShortDurationEndDate150': 0,
 'ShortDurationEndDate180': 0,
 'ShortDurationPrecipitationValue005': 0,
 'ShortDurationPrecipitationValue010': 0,
 'ShortDurationPrecipitationValue015': 0,
 'ShortDurationPrecipitationValue020': 0,
 'ShortDurationPrecipitationValue030': 0,
 'ShortDurationPrecipitationValue045': 0,
 'ShortDurationPrecipitationValue060': 0,
 'ShortDurationPrecipitationValue080': 0,
 'ShortDurationPrecipitationValue100': 0,
 'ShortDurationPrecipitationValue120': 0,
 'ShortDurationPrecipitationValue150': 0,
 'ShortDurationPrecipitationValue180': 0,
 'REM': 0,
 'BackupDirection': 0,
 'BackupDistance': 0,
 'BackupDistanceUnit': 0,
 'BackupElements': 0,
 'BackupElevation': 0,
 'BackupEquipment': 0,
 'BackupLatitude': 0,
 'BackupLongitude': 0,
 'BackupName': 0,
 'WindEquipmentChangeDate': 0,
 'YEAR': 0,
 'MONTH': 0,
 'DAY': 0,
 'HOUR': 0,
 'WEEK': 0}

In [50]:
list(hourly_weather_data.columns)

['index',
 'DATE',
 'LATITUDE',
 'LONGITUDE',
 'HourlyAltimeterSetting',
 'HourlyDewPointTemperature',
 'HourlyDryBulbTemperature',
 'HourlyPrecipitation',
 'HourlyPresentWeatherType',
 'HourlyPressureChange',
 'HourlyPressureTendency',
 'HourlyRelativeHumidity',
 'HourlySkyConditions',
 'HourlySeaLevelPressure',
 'HourlyStationPressure',
 'HourlyVisibility',
 'HourlyWetBulbTemperature',
 'HourlyWindDirection',
 'HourlyWindGustSpeed',
 'HourlyWindSpeed',
 'Sunrise',
 'Sunset',
 'DailyAverageDewPointTemperature',
 'DailyAverageDryBulbTemperature',
 'DailyAverageRelativeHumidity',
 'DailyAverageSeaLevelPressure',
 'DailyAverageStationPressure',
 'DailyAverageWetBulbTemperature',
 'DailyAverageWindSpeed',
 'DailyCoolingDegreeDays',
 'DailyDepartureFromNormalAverageTemperature',
 'DailyHeatingDegreeDays',
 'DailyMaximumDryBulbTemperature',
 'DailyMinimumDryBulbTemperature',
 'DailyPeakWindDirection',
 'DailyPeakWindSpeed',
 'DailyPrecipitation',
 'DailySnowDepth',
 'DailySnowfall',
 'DailySustainedWindDirection',
 'DailySustainedWindSpeed',
 'DailyWeather',
 'MonthlyAverageRH',
 'MonthlyDaysWithGT001Precip',
 'MonthlyDaysWithGT010Precip',
 'MonthlyDaysWithGT32Temp',
 'MonthlyDaysWithGT90Temp',
 'MonthlyDaysWithLT0Temp',
 'MonthlyDaysWithLT32Temp',
 'MonthlyDepartureFromNormalAverageTemperature',
 'MonthlyDepartureFromNormalCoolingDegreeDays',
 'MonthlyDepartureFromNormalHeatingDegreeDays',
 'MonthlyDepartureFromNormalMaximumTemperature',
 'MonthlyDepartureFromNormalMinimumTemperature',
 'MonthlyDepartureFromNormalPrecipitation',
 'MonthlyDewpointTemperature',
 'MonthlyGreatestPrecip',
 'MonthlyGreatestPrecipDate',
 'MonthlyGreatestSnowDepth',
 'MonthlyGreatestSnowDepthDate',
 'MonthlyGreatestSnowfall',
 'MonthlyGreatestSnowfallDate',
 'MonthlyMaxSeaLevelPressureValue',
 'MonthlyMaxSeaLevelPressureValueDate',
 'MonthlyMaxSeaLevelPressureValueTime',
 'MonthlyMaximumTemperature',
 'MonthlyMeanTemperature',
 'MonthlyMinSeaLevelPressureValue',
 'MonthlyMinSeaLevelPressureValueDate',
 'MonthlyMinSeaLevelPressureValueTime',
 'MonthlyMinimumTemperature',
 'MonthlySeaLevelPressure',
 'MonthlyStationPressure',
 'MonthlyTotalLiquidPrecipitation',
 'MonthlyTotalSnowfall',
 'MonthlyWetBulb',
 'AWND',
 'CDSD',
 'CLDD',
 'DSNW',
 'HDSD',
 'HTDD',
 'NormalsCoolingDegreeDay',
 'NormalsHeatingDegreeDay',
 'ShortDurationEndDate005',
 'ShortDurationEndDate010',
 'ShortDurationEndDate015',
 'ShortDurationEndDate020',
 'ShortDurationEndDate030',
 'ShortDurationEndDate045',
 'ShortDurationEndDate060',
 'ShortDurationEndDate080',
 'ShortDurationEndDate100',
 'ShortDurationEndDate120',
 'ShortDurationEndDate150',
 'ShortDurationEndDate180',
 'ShortDurationPrecipitationValue005',
 'ShortDurationPrecipitationValue010',
 'ShortDurationPrecipitationValue015',
 'ShortDurationPrecipitationValue020',
 'ShortDurationPrecipitationValue030',
 'ShortDurationPrecipitationValue045',
 'ShortDurationPrecipitationValue060',
 'ShortDurationPrecipitationValue080',
 'ShortDurationPrecipitationValue100',
 'ShortDurationPrecipitationValue120',
 'ShortDurationPrecipitationValue150',
 'ShortDurationPrecipitationValue180',
 'REM',
 'BackupDirection',
 'BackupDistance',
 'BackupDistanceUnit',
 'BackupElements',
 'BackupElevation',
 'BackupEquipment',
 'BackupLatitude',
 'BackupLongitude',
 'BackupName',
 'WindEquipmentChangeDate',
 'YEAR',
 'MONTH',
 'DAY',
 'HOUR',
 'WEEK']

In [51]:
daily_weather_data.shape

(2551, 123)

In [52]:
daily_weather_data.head()

,index,DATE,LATITUDE,LONGITUDE,HourlyAltimeterSetting,HourlyDewPointTemperature,HourlyDryBulbTemperature,HourlyPrecipitation,HourlyPresentWeatherType,HourlyPressureChange,...,BackupElevation,BackupEquipment,BackupLatitude,BackupLongitude,BackupName,WindEquipmentChangeDate,YEAR,MONTH,DAY,WEEK
0,0,2009-01-01 00:51:00,40.77898,-73.96925,30.01,3.0,18.0,0,0,-0.04,...,0.0,SNOWBOARD,0.0,0.0,CENTRAL PARK ZOO,2006/9/18,2009,1,1,4
1,1,2009-01-02 00:51:00,40.77898,-73.96925,30.2,1.0,25.0,0,0,0.06,...,0.0,SNOWBOARD,0.0,0.0,CENTRAL PARK ZOO,2006/9/18,2009,1,2,5
2,2,2009-01-03 00:51:00,40.77898,-73.96925,29.78,21.0,32.0,0,0,-0.02,...,0.0,SNOWBOARD,0.0,0.0,CENTRAL PARK ZOO,2006/9/18,2009,1,3,6
3,3,2009-01-04 00:51:00,40.77898,-73.96925,30.07,9.0,28.0,0,0,0,...,0.0,SNOWBOARD,0.0,0.0,CENTRAL PARK ZOO,2006/9/18,2009,1,4,7
4,4,2009-01-05 00:51:00,40.77898,-73.96925,29.97,14.0,39.0,0,0,0.06,...,0.0,SNOWBOARD,0.0,0.0,CENTRAL PARK ZOO,2006/9/18,2009,1,5,1

In [53]:
daily_weather_data["HourlyWindSpeed"]

0      18.0
1       3.0
2       8.0
3      10.0
4       7.0
       ...
360     6.0
361     8.0
362    11.0
363     0.0
364     5.0
Name: HourlyWindSpeed, Length: 2551, dtype: float64

### Clean Data

In [54]:
taxi_data = taxi_data.drop(["index"], axis=1)
taxi_data.head()

,level_0,VendorID,tpep_pickup_datetime,tpep_dropoff_datetime,passenger_count,trip_distance,RatecodeID,store_and_fwd_flag,PULocationID,DOLocationID,...,pickup_longitude,pickup_latitude,dropoff_longitude,dropoff_latitude,YEAR,MONTH,DAY,HOUR,WEEK,cal_distance
0,0,1,2015-01-29 18:59:06,2015-01-29 19:05:18,1,0.90,1,N,262,236,...,-73.946510,40.775932,-73.957012,40.780436,2015,1,29,18,4,1.017352
1,1,2,2015-01-08 22:59:42,2015-01-08 23:04:00,1,1.04,1,N,255,256,...,-73.957418,40.718804,-73.959905,40.710880,2015,1,8,22,4,0.906701
2,2,2,2015-01-06 08:41:30,2015-01-06 09:05:51,5,1.41,1,N,237,50,...,-73.965635,40.768615,-73.995135,40.766238,2015,1,6,8,2,2.501233
3,3,1,2015-01-22 14:44:21,2015-01-22 14:54:12,1,1.10,1,N,68,164,...,-73.999917,40.748428,-73.985156,40.748575,2015,1,22,14,4,1.244959
4,4,1,2015-01-15 14:53:41,2015-01-15 15:02:40,1,1.60,1,N,263,142,...,-73.951010,40.778766,-73.981532,40.773633,2015,1,15,14,4,2.635661

In [55]:
taxi_data.columns

Index(['level_0', 'VendorID', 'tpep_pickup_datetime', 'tpep_dropoff_datetime',
       'passenger_count', 'trip_distance', 'RatecodeID', 'store_and_fwd_flag',
       'PULocationID', 'DOLocationID', 'payment_type', 'fare_amount', 'extra',
       'mta_tax', 'tip_amount', 'tolls_amount', 'improvement_surcharge',
       'total_amount', 'pickup_longitude', 'pickup_latitude',
       'dropoff_longitude', 'dropoff_latitude', 'YEAR', 'MONTH', 'DAY', 'HOUR',
       'WEEK', 'cal_distance'],
      dtype='object')

In [56]:
taxi_data["tip_amount"]

0       1.95
1       0.00
2       1.00
3       0.00
4       0.00
        ...
2559    0.00
2560    0.00
2561    0.00
2562    2.00
2563    2.15
Name: tip_amount, Length: 10256, dtype: float64

In [58]:
list(hourly_weather_data.columns)

['index',
 'DATE',
 'LATITUDE',
 'LONGITUDE',
 'HourlyAltimeterSetting',
 'HourlyDewPointTemperature',
 'HourlyDryBulbTemperature',
 'HourlyPrecipitation',
 'HourlyPresentWeatherType',
 'HourlyPressureChange',
 'HourlyPressureTendency',
 'HourlyRelativeHumidity',
 'HourlySkyConditions',
 'HourlySeaLevelPressure',
 'HourlyStationPressure',
 'HourlyVisibility',
 'HourlyWetBulbTemperature',
 'HourlyWindDirection',
 'HourlyWindGustSpeed',
 'HourlyWindSpeed',
 'Sunrise',
 'Sunset',
 'DailyAverageDewPointTemperature',
 'DailyAverageDryBulbTemperature',
 'DailyAverageRelativeHumidity',
 'DailyAverageSeaLevelPressure',
 'DailyAverageStationPressure',
 'DailyAverageWetBulbTemperature',
 'DailyAverageWindSpeed',
 'DailyCoolingDegreeDays',
 'DailyDepartureFromNormalAverageTemperature',
 'DailyHeatingDegreeDays',
 'DailyMaximumDryBulbTemperature',
 'DailyMinimumDryBulbTemperature',
 'DailyPeakWindDirection',
 'DailyPeakWindSpeed',
 'DailyPrecipitation',
 'DailySnowDepth',
 'DailySnowfall',
 'DailySustainedWindDirection',
 'DailySustainedWindSpeed',
 'DailyWeather',
 'MonthlyAverageRH',
 'MonthlyDaysWithGT001Precip',
 'MonthlyDaysWithGT010Precip',
 'MonthlyDaysWithGT32Temp',
 'MonthlyDaysWithGT90Temp',
 'MonthlyDaysWithLT0Temp',
 'MonthlyDaysWithLT32Temp',
 'MonthlyDepartureFromNormalAverageTemperature',
 'MonthlyDepartureFromNormalCoolingDegreeDays',
 'MonthlyDepartureFromNormalHeatingDegreeDays',
 'MonthlyDepartureFromNormalMaximumTemperature',
 'MonthlyDepartureFromNormalMinimumTemperature',
 'MonthlyDepartureFromNormalPrecipitation',
 'MonthlyDewpointTemperature',
 'MonthlyGreatestPrecip',
 'MonthlyGreatestPrecipDate',
 'MonthlyGreatestSnowDepth',
 'MonthlyGreatestSnowDepthDate',
 'MonthlyGreatestSnowfall',
 'MonthlyGreatestSnowfallDate',
 'MonthlyMaxSeaLevelPressureValue',
 'MonthlyMaxSeaLevelPressureValueDate',
 'MonthlyMaxSeaLevelPressureValueTime',
 'MonthlyMaximumTemperature',
 'MonthlyMeanTemperature',
 'MonthlyMinSeaLevelPressureValue',
 'MonthlyMinSeaLevelPressureValueDate',
 'MonthlyMinSeaLevelPressureValueTime',
 'MonthlyMinimumTemperature',
 'MonthlySeaLevelPressure',
 'MonthlyStationPressure',
 'MonthlyTotalLiquidPrecipitation',
 'MonthlyTotalSnowfall',
 'MonthlyWetBulb',
 'AWND',
 'CDSD',
 'CLDD',
 'DSNW',
 'HDSD',
 'HTDD',
 'NormalsCoolingDegreeDay',
 'NormalsHeatingDegreeDay',
 'ShortDurationEndDate005',
 'ShortDurationEndDate010',
 'ShortDurationEndDate015',
 'ShortDurationEndDate020',
 'ShortDurationEndDate030',
 'ShortDurationEndDate045',
 'ShortDurationEndDate060',
 'ShortDurationEndDate080',
 'ShortDurationEndDate100',
 'ShortDurationEndDate120',
 'ShortDurationEndDate150',
 'ShortDurationEndDate180',
 'ShortDurationPrecipitationValue005',
 'ShortDurationPrecipitationValue010',
 'ShortDurationPrecipitationValue015',
 'ShortDurationPrecipitationValue020',
 'ShortDurationPrecipitationValue030',
 'ShortDurationPrecipitationValue045',
 'ShortDurationPrecipitationValue060',
 'ShortDurationPrecipitationValue080',
 'ShortDurationPrecipitationValue100',
 'ShortDurationPrecipitationValue120',
 'ShortDurationPrecipitationValue150',
 'ShortDurationPrecipitationValue180',
 'REM',
 'BackupDirection',
 'BackupDistance',
 'BackupDistanceUnit',
 'BackupElements',
 'BackupElevation',
 'BackupEquipment',
 'BackupLatitude',
 'BackupLongitude',
 'BackupName',
 'WindEquipmentChangeDate',
 'YEAR',
 'MONTH',
 'DAY',
 'HOUR',
 'WEEK']

## Part 2: Storing Cleaned Data

- 1. Create a database
- 2. Write schema sql of taxi data, uber data, hourly weather data and daily weather data
- 3. Create and populate four tables

In [59]:
engine = db.create_engine(DATABASE_URL)

In [60]:
TAXI_TRIPS_SCHEMA = """
CREATE TABLE IF NOT EXISTS taxi_trips
(
    id INTEGER PRIMARY KEY,
    DATE TIMESTAMP,
    tpep_pickup_datetime TIMESTAMP,
    tpep_dropoff_datetime TIMESTAMP,
    trip_distance FLOAT,
    total_amount FLOAT,
    tip_amount FLOAT,
    passenger_count INTEGER,
    pickup_longitude FLOAT,
    pickup_latitude FLOAT,
    dropoff_longitude FLOAT,
    dropoff_latitude FLOAT,
    cal_distance FLOAT,
    YEAR INTEGER, 
    MONTH INTEGER, 
    DAY INTEGER, 
    HOUR INTEGER,
    WEEK INTEGER
);
"""

UBER_TRIPS_SCHEMA = """
CREATE TABLE IF NOT EXISTS uber_trips
(
    id INTEGER PRIMARY KEY,
    pickup_datetime TIMESTAMP,
    pickup_longitude FLOAT,
    pickup_latitude  FLOAT,
    dropoff_longitude FLOAT, 
    dropoff_latitude FLOAT,
    passenger_count INTEGER,
    YEAR  INTEGER,
    MONTH  INTEGER, 
    DAY  INTEGER,
    HOUR  INTEGER,
    WEEK  INTEGER,
    cal_distance FLOAT
);
"""

HOURLY_WEATHER_SCHEMA = """
CREATE TABLE IF NOT EXISTS hourly_weather
(
    id INTEGER PRIMARY KEY,
    DATE TIMESTAMP,
    LATITUDE FLOAT,
    LONGITUDE FLOAT,
     YEAR INTEGER,
     MONTH INTEGER,
     DAY INTEGER,
     WEEK INTEGER,
     HOUR INTEGER,
     HourlyPrecipitation FLOAT,
     HourlyWindSpeed FLOAT
);
"""

DAILY_WEATHER_SCHEMA = """
CREATE TABLE IF NOT EXISTS daily_weather
(
    id INTEGER PRIMARY KEY,
    DATE TIMESTAMP,
    LATITUDE FLOAT,
    LONGITUDE FLOAT,
    DailyAverageWindSpeed FLOAT, 
    DailyPrecipitation FLOAT,    
     YEAR INTEGER,
     MONTH INTEGER,
     DAY INTEGER,
     WEEK INTEGER  
);
"""

In [61]:
# create that required schema.sql file
with open(DATABASE_SCHEMA_FILE, "w") as f:
    f.write(TAXI_TRIPS_SCHEMA)
    f.write(UBER_TRIPS_SCHEMA)
    f.write(HOURLY_WEATHER_SCHEMA)
    f.write(DAILY_WEATHER_SCHEMA)

In [62]:
# create the tables with the schema files
with engine.connect() as connection:
#     pass
    connection.execute(TAXI_TRIPS_SCHEMA)
with engine.connect() as connection:
#     pass
    connection.execute(UBER_TRIPS_SCHEMA)  
with engine.connect() as connection:
#     pass
    connection.execute(HOURLY_WEATHER_SCHEMA)
with engine.connect() as connection:
#     pass
    connection.execute(DAILY_WEATHER_SCHEMA)

### Add Data to Database

- 1. Write dataframe data into the database

In [63]:
def write_dataframes_to_table(table_to_df_dict):
    for table_name in table_to_df_dict:
        table_to_df_dict[ table_name ].to_sql(table_name, engine, if_exists='replace')

In [64]:
map_table_name_to_dataframe = {
    "taxi_trips": taxi_data,
    "uber_trips": uber_data,
    "hourly_weather": hourly_weather_data,
    "daily_weather": daily_weather_data,
}

In [ ]:
write_dataframes_to_table(map_table_name_to_dataframe)